/***** fonts *****/

.rbold {
    font-family: 'Raleway Bold';
}
.rthin {
    font-family: 'Raleway Thin';
}
.rextralight {
    font-family: 'Raleway ExtraLight';
}
.rregular {
    font-family: 'Raleway Regular';
}
.rlight {
    font-family: 'Raleway Light';
}
.pnlight {
    font-family: 'Proxima Nova Light';
}
.pnregular {
    font-family: 'Proxima Nova Regular';
}
.pnbold {
    font-family: 'Proxima Nova Bold';
}

/***** wrapper ****/

.wrapper {
    width: 1360px;
    margin: 0 auto;
}
.home__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 1360px;
    margin: 0 auto;
}
.opinions__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1360px;
    margin: 0 auto;
}

/*
*** header
*/

header {
    position: absolute;
    width: 100%;
    padding: 59px 0;
}
.header__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.header__nav {
    width: 40%;
}
.header__nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header__nav ul li a {
    font-size: 14px;
    text-transform: uppercase;
}
.header__nav ul li button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    color: white;
}
.hamburger {
    outline: none;
}
.header__burgerMenu {
    display: none;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    background-color: white !important;
}

/*
*** home
*/

.home {
    height: 100vh;
    background-image: url(../media/images/homeBackground.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 250px;
}
.home__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
}
.home__heading {
    font-size: 60px;
    text-align: center;
}
.home__subheading {
    font-size: 23px;
    margin-top: 30px;
}
.home__btn {
    margin-top: 68px;
}
.home__btn a {
    font-size: 14px;
    padding: 12px 35px;
    border: 2px white solid;
    border-radius: 25px;
    transition: background-color .4s ease-in-out;
}
.home__btn a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.home__bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 89px;
}
.home__bullet {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 50%;
    transition: background-color .4s ease-in-out;
    cursor: pointer;
}
.home__bullet:nth-child(2n) {
    margin: 0 10px;
}
.active__bullet {
    background-color: white;
}
.home__previous,
.home__next,
.home__down {
    color: #647173;
    cursor: pointer;
    font-size: 50px;
    margin-top: 37px;
}
.home__down {
    font-size: 30px;
    margin-top: 170px;
}

/*
*** about
*/

.about {
    padding: 111px 0;
}
.about__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headings {
    font-size: 60px;
    position: relative;
    color: #576671;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 41px;
}
.headings::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #17DAA3;
    bottom: 0;
}
.subheadings {
    color: #87949E;
    font-size: 18px;
    margin-top: 42px;
    text-align: center;
}
.about__services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
}
.about__services_left,
.about__services_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.about__service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.about__service_logo {
    color: #87949E;
    font-size: 40px;
    cursor: pointer;
    padding: 50px;
    background-color: #EDEFF1;
    border-radius: 50%;
    transition: background-color .4s ease-in-out, color .3s ease-in-out;
}
.about__service_logo:hover {
    color: white;
    background-color: #17DAA3;
}
.about__service_heading {
    color: black;
    font-size: 30px;
    margin-top: 85px;
    width: 100%;
    text-align: center;
}
.about__service_subheading {
    font-size: 18px;
    line-height: 1.667;
    color: #87949E;
    margin-top: 58px;
    width: 80%;
    text-align: center;
}
.about__btn {
    margin-top: 100px;
}
.about__btn a {
    font-size: 14px;
    padding: 10px 45px;
    border: 2px #17DAA3 solid;
    color: white;
    background-color: #17DAA3;
    border-radius: 25px;
    transition: opacity .2s ease-in-out;
}
.about__btn a:hover {
    opacity: 0.8;
}

/*
*** photo
*/

.photo {
    padding: 165px 0;
    background-color: #F9F9FA;
}
.photo__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.photo__text {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.photo__heading {
    font-size: 60px;
    color: #576671;
}
.photo__subheading {
    font-size: 18px;
    color: #87949E;
    line-height: 2;
    margin-top: 60px;
}
.photo__btn {
    margin-top: 77px;
}
.photo__btn a {
    font-size: 14px;
    padding: 10px 45px;
    border: 2px #17DAA3 solid;
    color: white;
    background-color: #17DAA3;
    border-radius: 25px;
    transition: opacity .2s ease-in-out;
}
.photo__btn a:hover {
    opacity: 0.8;
}

/*
*** mac
*/


.mac {
    background-color: white;
}
.mac__content {
    justify-content: flex-start;
}

/*
*** opinions
*/

.opinions {
    padding: 187px 0;
    background-image: url(../media/images/photoBackground.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.opinions__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.opinions__heading {
    color: white;
    font-size: 30px;
    margin-top: 46px;
}
.opinions__heading span {
    color: #17DAA3;
}
.opinions__subheading {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.302);
    margin-top: 46px;
}
.opinions__bullets {
    margin-top: 80px;
}

/*
*** services
*/

.services {
    padding: 108px 0;
    background-color: #F9F9FA;
}
.services__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services__about {
    margin-top: 196px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.services__about_left,
.services__about_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services__service {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.services__service_bottom {
    margin-top: 124px;
}
.service__photo {
    width: 20%;
}
.service__text {
    width: 80%;
}
.service__heading {
    font-size: 60px;
    color: #576671;
}
.service__subheading {
    margin-top: 60px;
    font-size: 18px;
    color: #87949E;
    line-height: 2.667;
}

/*
*** team
*/

.team {
    padding-top: 114px;
}
.team__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team__members {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 109px;
}
.team__members_top,
.team__members_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team__member {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease-in-out;
}
.team__member::after {
    content: "John Doe";
    display: none;
    position: absolute;
    font-family: 'Raleway ExtraLight';
    font-size: 36px;
    color: white;
}
.team__member:hover {
    background-color: #2DDDAC;
}
.team__member:hover::after {
    display: block;
}
.team__member_white {
    background-color: #F9F9FA;
}
.team__member_gray {
    background-color: #E4E4E4;
}

/*
*** price
*/

.price {
    padding: 114px 0;
    background-color: #F9F9FA;
}
.price__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.price__prices {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 111px;
}
.price__prices_left,
.price__prices_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prices__price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 35px 0px rgba(227, 227, 227, 0.35);
    border-radius: 5px;
}
.prices__price:nth-child(2),
.prices__price:nth-child(4) {
    margin-left: 30px;
}
.price__prices_right {
    margin-left: 30px;
}
.price__score {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 58px;
    border-bottom: 3px solid #FBFBFC;
    padding: 35px;
}
.price__value {
    color:#2DDDAC;
    font-size: 60px;
}
.price__license {
    font-size: 18px;
    color: #87949E;
    margin-top: 20px;
}
.price__advantages {
    padding: 35px;
}
.price__advantage {
    line-height: 2.667;
    font-size: 18px;
    width: 100%;
    color: #87949E;
}
.price__purchase_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #17DAA3;
    padding: 28px 30px;
    border-radius: 2px;
}
.purchase__text {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 5px;
}
.purchase__icon {
    font-size: 18px;
}

/*
*** map
*/

.map {
    padding: 129px 0;
}
.map__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map__text,
.map__map {
    width: 50%;
}
.map__heading {
    font-size: 60px;
    color: #576671;
}
.map__subheading {
    font-size: 18px;
    color: #87949E;
    line-height: 2;
    margin-top: 60px;
}
.map__btn {
    margin-top: 77px;
}
.map__btn a {
    font-size: 14px;
    padding: 10px 45px;
    border: 2px #17DAA3 solid;
    color: white;
    background-color: #17DAA3;
    border-radius: 25px;
    transition: opacity .2s ease-in-out;
}
.map__btn a:hover {
    opacity: 0.8;
}
.map__map img {
    width: 100%;
}

/*
*** try our
*/

.tryOur {
    padding: 283px 0;
    background-image: url(../media/images/tryOurTemplate.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.tryOur__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.tryOur__heading {
    font-size: 60px;
}
.tryOur__btn {
    margin-top: 100px;
}
.tryOur__btn a {
    font-size: 14px;
    padding: 10px 45px;
    border: 2px #17DAA3 solid;
    background-color: #17DAA3;
    border-radius: 25px;
    transition: opacity .2s ease-in-out;
}
.tryOur__btn a:hover {
    opacity: 0.8;
}

/*
*** footer
*/

footer {
    padding: 72px 0;
}
.footer__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer__allRightsReserved {
    font-size: 18px;
    color: #87949E;
    margin-left: 20px;
}

/*
*** burger menu
*/

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
}
.hamburger:hover {
    opacity: 0.7; 
}
.hamburger.is-active:hover {
    opacity: 0.7; 
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000; 
}
.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; 
}
.hamburger-inner::before {
    top: -10px; 
}
.hamburger-inner::after {
    bottom: -10px; 
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; 
}
.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); 
}

/*
*** responsive
*/

@media only screen and (max-width: 1380px) {
    .wrapper,
    .home__wrapper,
    .opinions__wrapper {
        width: 90%;
    }

    .home {
        padding-top: 210px;
    }
    .home__content {
        position: relative;
    }
    .home__next {
        position: absolute;
        right: 4%;
    }
    .home__previous {
        position: absolute;
        left: 4%;
    }
    .home__down {
        margin-top: 120px;
    }
}

@media only screen and (max-width: 1200px) {
    .team__member {
        width: 20%;
        height: 200px;
    }
    .price__prices_left,
    .price__prices_right {
        width: 100%;
        flex-direction: column;
    }
    .prices__price:nth-child(2),
    .prices__price:nth-child(4) {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1150px) {
    .home__next {
        right: 2%;
        font-size: 30px;
    }
    .home__previous {
        left: 2%;
        font-size: 30px;
    }
    .services__about {
        flex-direction: column;
    }
    .services__service_bottom {
        margin-top: 50px;
    }
    .services__about_right {
        margin-top: 50px;
    }
    .services__about_left,
    .services__about_right {
        width: 100%;
    }
    .home__down {
        margin-top: 140px;
    }
}

@media only screen and (max-width: 1100px) {
    .home__heading,
    .tryOur__heading {
        font-size: 45px;
    }
    .home__subheading {
        font-size: 18px;
    }
    .headings {
        font-size: 45px;
    }
    .subheadings {
        font-size: 16px;
    }
    .photo__heading,
    .map__heading {
        font-size: 40px;
    }
    .photo__subheading,
    .map__subheading {
        font-size: 16px;
    }
    .about__service_logo {
        padding: 40px;
    }
    .about__service_heading {
        font-size: 22px;
        margin-top: 60px;
    }
    .about__service_subheading {
        font-size: 16px;
        margin-top: 30px;
    }
    .service__heading {
        font-size: 40px;
    }
    .service__subheading {
        font-size: 16px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 992px) {
    .about__services_left,
    .about__services_right {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .about__services_left div:nth-child(2),
    .about__services_right div:nth-child(2) {
        margin-top: 50px;
    }
    .price__value {
        font-size: 40px;
    }
    .price__license {
        font-size: 14px;
    }
    .price__advantage,
    .purchase__text {
        font-size: 16px;
    }
    .home__btn a,
    .about__btn a,
    .photo__btn a,
    .map__btn a {
        font-size: 12px;
        padding: 10px 30px;
    }
    .map__content {
        flex-direction: column-reverse;
    }
    .map__text {
        width: 100%;
        margin-top: 60px;
    }
    .map__map {
        width: 80%;
    }
    .opinions__previous,
    .opinions__next {
        margin-top: 0px;
    }
    .opinions__heading {
        font-size: 25px;
    }
    .opinions__subheading {
        font-size: 16px;
    }
}

@media only screen and (max-width: 882px) {
    .headings {
        font-size: 35px;
    }
    .subheadings {
        font-size: 14px;
    }
    .opinions__heading {
        font-size: 18px;
    }
    .photo__heading,
    .map__heading {
        font-size: 30px;
    }
    .photo__subheading,
    .map__subheading {
        font-size: 14px;
    }
    .tryOur__heading {
        font-size: 30px;
    }
    .footer__allRightsReserved {
        font-size: 16px;
    }
    .service__heading {
        font-size: 30px;
    }
    .service__subheading {
        font-size: 14px;
    }
    .service__photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .service__photo img {
        width: 50%;
    }
    .team__member::after {
        font-size: 25px;
    }
    .home__heading {
        font-size: 35px;
    }
    .home__subheading {
        font-size: 16px;
    }
    .header__nav {
        width: 47%;
    }
    .home__down {
        margin-top: 150px;
    }
    .photo__content {
        justify-content: center;
    }
    .photo__text {
        width: 100%;
    }
    .mac__text {
        align-items: flex-end;
    }
    .mac__subheading {
        text-align: right;
    }
}

@media only screen and (max-width: 800px) {
    .header__nav {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0%;
        z-index: 2;
        display: flex;
        background-color: #302554;
        height: 0;
        transition: height 0.6s ease-in-out;
        overflow: hidden;
    }
    .header__nav ul {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .header__nav ul li:nth-child(2n) {
        margin: 20px 0;
    }
    .header__nav ul li:nth-child(6) {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .navIsOpen {
        height: 380px;
        display: flex;
    }
    .header__burgerMenu {
        display: block;
    }

    .team__member {
        height: 150px;
    }
    .prices__price {
        width: 92%;
    }
}

@media only screen and (max-width: 662px) {
    .price__prices {
        justify-content: center;
        flex-direction: column;
    }
    .price__prices_left,
    .price__prices_right {
        width: 100%;
    }
    .price__prices_right {
        margin-left: 0;
        margin-top: 30px;
    }
    .home__heading {
        font-size: 28px;
    }
    .home__subheading {
        font-size: 14px;
    }
    .opinions__heading {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }
    .opinions__subheading {
        font-size: 14px;
    }
}

@media only screen and (max-width: 612px) {
    .team__member {
        height: 120px;
    }
    .home__previous,
    .home__next {
        font-size: 22px;
    }
    .home__heading {
        font-size: 24px;
    }
    .opinions__heading {
        font-size: 14px;
    }
    .home__down {
        font-size: 24px;
    }
}

@media only screen and (max-width: 552px) {
    .about__services {
        justify-content: center;
        flex-direction: column;
    }
    .about__services_right {
        margin-top: 50px;
    }

    .about {
        padding: 70px 0;
    }
    .photo {
        padding: 80px 0;
    }
    .opinions {
        padding: 120px 0;
    }
    .services {
        padding: 80px 0;
    }
    .services__about {
        margin-top: 100px;
    }
    .price {
        padding: 80px 0;
    }
    .map {
        padding: 90px 0;
    }
    .tryOur {
        padding: 200px 0;
    }
    footer {
        padding: 40px 0;
    }
    .opinions__heading {
        width: 75%;
    }
}

@media only screen and (max-width: 530px) {
    .team__members {
        flex-direction: row;
    }
    .team__members_top,
    .team__members_bottom {
        flex-direction: column;
    }
    .team__member {
        width: 80%;
        height: 200px;
    }
    .tryOur__heading {
        font-size: 22px;
        text-align: center;
    }
    .tryOur__btn a {
        font-size: 12px;
        padding: 10px 30px;
    }
}

@media only screen and (max-width: 442px) {
    .home__heading {
        font-size: 20px;
    }
    .home__subheading {
        font-size: 12px;
    }
    .home__down {
        margin-top: 200px;
    }
    .about__service_heading {
        font-size: 20px;
    }
    .about__service_subheading {
        font-size: 14px;
    }
    .service__photo img {
        width: 70%;
    }
}

@media only screen and (max-width: 382px) {
    .tryOur__heading {
        font-size: 20px;
        text-align: center;
    }
    .team__member {
        width: 90%;
        height: 150px;
    }
    .home__heading {
        font-size: 18px;
    }
    .home__previous, 
    .home__next {
        font-size: 20px;
    }
    .hamburger-inner, 
    .hamburger-inner::before, 
    .hamburger-inner::after {
        width: 35px;
    }
    .about__service_logo {
        font-size: 30px;
        padding: 30px;
    }
    .home__heading {
        width: 90%;
        text-align: center;
    }
    .home__subheading {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 350px) {
    .service__photo img {
        width: 90%;
    }
    .service__text {
        width: 75%;
    }
}