/***** fonts *****/

.rbold {
    font-family: 'Raleway Bold';
}
.rthin {
    font-family: 'Raleway Thin';
}
.rextralight {
    font-family: 'Raleway ExtraLight';
}
.rregular {
    font-family: 'Raleway Regular';
}
.rlight {
    font-family: 'Raleway Light';
}
.pnlight {
    font-family: 'Proxima Nova Light';
}
.pnregular {
    font-family: 'Proxima Nova Regular';
}
.pnbold {
    font-family: 'Proxima Nova Bold';
}

/***** wrapper ****/

.wrapper {
    width: 1360px;
    margin: 0 auto;
}
.home__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 1360px;
    margin: 0 auto;
}
.opinions__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1360px;
    margin: 0 auto;
}

/*
*** header
*/

header {
    position: absolute;
    width: 100%;
    padding: 59px 0;
}
.header__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.header__nav {
    width: 40%;
}
.header__nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header__nav ul li a {
    font-size: 14px;
    text-transform: uppercase;
}
.header__nav ul li button {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

/*
*** home
*/

.home {
    min-height: 100vh;
    height: 100%;
    background-image: url(../media/images/homeBackground.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 250px;
}
.home__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
}
.home__heading {
    font-size: 60px;
    text-align: center;
}
.home__subheading {
    font-size: 23px;
    margin-top: 30px;
}
.home__btn {
    margin-top: 68px;
}
.home__btn a {
    font-size: 14px;
    padding: 12px 35px;
    border: 2px white solid;
    border-radius: 25px;
    transition: background-color .4s ease-in-out;
}
.home__btn a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.home__bullets {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 89px;
}
.home__bullet {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 50%;
    transition: background-color .4s ease-in-out;
    cursor: pointer;
}
.home__bullet:nth-child(2n) {
    margin: 0 10px;
}
.active__bullet {
    background-color: white;
}
.home__previous,
.home__next,
.home__down {
    color: #647173;
    cursor: pointer;
    font-size: 50px;
    margin-top: 37px;
}
.home__down {
    font-size: 30px;
    margin-top: 170px;
}

/*
*** about
*/

.about {
    padding: 111px 0;
}
.about__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headings {
    font-size: 60px;
    position: relative;
    color: #576671;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 41px;
}
.headings::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #17DAA3;
    bottom: 0;
}
.subheadings {
    color: #87949E;
    font-size: 18px;
    margin-top: 42px;
}
.about__services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
}
.about__services_left,
.about__services_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.about__service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.about__service_logo {
    color: #87949E;
    font-size: 40px;
    cursor: pointer;
    padding: 50px;
    background-color: #EDEFF1;
    border-radius: 50%;
    transition: background-color .4s ease-in-out, color .3s ease-in-out;
}
.about__service_logo:hover {
    color: white;
    background-color: #17DAA3;
}
.about__service_heading {
    color: black;
    font-size: 30px;
    margin-top: 85px;
    width: 100%;
    text-align: center;
}
.about__service_subheading {
    font-size: 18px;
    line-height: 1.667;
    color: #87949E;
    margin-top: 58px;
    width: 80%;
    text-align: center;
}
.about__btn {
    margin-top: 100px;
}
.about__btn a {
    font-size: 14px;
    padding: 10px 45px;
    border: 2px #17DAA3 solid;
    color: white;
    background-color: #17DAA3;
    border-radius: 25px;
    transition: opacity .2s ease-in-out;
}
.about__btn a:hover {
    opacity: 0.8;
}

/*
*** photo
*/

.photo {
    padding: 165px 0;
    background-color: #F9F9FA;
}
.photo__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.photo__text {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.photo__heading {
    font-size: 60px;
    color: #576671;
}
.photo__subheading {
    font-size: 18px;
    color: #87949E;
    line-height: 2;
    margin-top: 60px;
}
.photo__btn {
    margin-top: 77px;
}
.photo__btn a {
    font-size: 14px;
    padding: 10px 45px;
    border: 2px #17DAA3 solid;
    color: white;
    background-color: #17DAA3;
    border-radius: 25px;
    transition: opacity .2s ease-in-out;
}
.photo__btn a:hover {
    opacity: 0.8;
}

/*
*** mac
*/


.mac {
    background-color: white;
}
.mac__content {
    justify-content: flex-start;
}

/*
*** opinions
*/

.opinions {
    padding: 187px 0;
    background-image: url(../media/images/photoBackground.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.opinions__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.opinions__heading {
    color: white;
    font-size: 30px;
    margin-top: 46px;
}
.opinions__heading span {
    color: #17DAA3;
}
.opinions__subheading {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.302);
    margin-top: 46px;
}
.opinions__bullets {
    margin-top: 80px;
}

/*
*** services
*/

.services {
    padding: 108px 0;
    background-color: #F9F9FA;
}
.services__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services__about {
    margin-top: 196px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.services__about_left,
.services__about_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.services__service {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.services__service_bottom {
    margin-top: 124px;
}
.service__photo {
    width: 20%;
}
.service__text {
    width: 80%;
}
.service__heading {
    font-size: 60px;
    color: #576671;
}
.service__subheading {
    margin-top: 60px;
    font-size: 18px;
    color: #87949E;
    line-height: 2.667;
}

/*
*** team
*/

.team {
    padding-top: 114px;
}
.team__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.team__members {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 109px;
}
.team__members_top,
.team__members_bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team__member {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease-in-out;
}
.team__member::after {
    content: "John Doe";
    display: none;
    position: absolute;
    font-family: 'Raleway ExtraLight';
    font-size: 36px;
    color: white;
}
.team__member:hover {
    background-color: #2DDDAC;
}
.team__member:hover::after {
    display: block;
}
.team__member_white {
    background-color: #F9F9FA;
}
.team__member_gray {
    background-color: #E4E4E4;
}

/*
*** price
*/

.price {
    padding: 114px 0;
    background-color: #F9F9FA;
}
.price__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.price__prices {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 111px;
}
.price__prices_left,
.price__prices_right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prices__price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 35px 0px rgba(227, 227, 227, 0.35);
    border-radius: 5px;
}
.prices__price:nth-child(2),
.prices__price:nth-child(4) {
    margin-left: 30px;
}
.price__prices_right {
    margin-left: 30px;
}
.price__score {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 58px;
    border-bottom: 3px solid #FBFBFC;
    padding: 35px;
}
.price__value {
    color:#2DDDAC;
    font-size: 60px;
}
.price__license {
    font-size: 18px;
    color: #87949E;
    margin-top: 20px;
}
.price__advantages {
    padding: 35px;
}
.price__advantage {
    line-height: 2.667;
    font-size: 18px;
    width: 100%;
    color: #87949E;
}
.price__purchase_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #17DAA3;
    padding: 28px 30px;
    border-radius: 2px;
}
.purchase__text {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 5px;
}
.purchase__icon {
    font-size: 18px;
}

/*
*** map
*/

.map {
    padding: 129px 0;
}
.map__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map__text,
.map__map {
    width: 50%;
}
.map__heading {
    font-size: 60px;
    color: #576671;
}
.map__subheading {
    font-size: 18px;
    color: #87949E;
    line-height: 2;
    margin-top: 60px;
}
.map__btn {
    margin-top: 77px;
}
.map__btn a {
    font-size: 14px;
    padding: 10px 45px;
    border: 2px #17DAA3 solid;
    color: white;
    background-color: #17DAA3;
    border-radius: 25px;
    transition: opacity .2s ease-in-out;
}
.map__btn a:hover {
    opacity: 0.8;
}
.map__map img {
    width: 100%;
}

/*
*** try our
*/

.tryOur {
    padding: 283px 0;
    background-image: url(../media/images/tryOurTemplate.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.tryOur__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.tryOur__heading {
    font-size: 60px;
}
.tryOur__btn {
    margin-top: 100px;
}
.tryOur__btn a {
    font-size: 14px;
    padding: 10px 45px;
    border: 2px #17DAA3 solid;
    background-color: #17DAA3;
    border-radius: 25px;
    transition: opacity .2s ease-in-out;
}
.tryOur__btn a:hover {
    opacity: 0.8;
}

/*
*** footer
*/

footer {
    padding: 72px 0;
}
.footer__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer__allRightsReserved {
    font-size: 18px;
    color: #87949E;
    margin-left: 20px;
}
